* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
  padding: 2rem;
}

.allPlayersDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playersDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#playerContainer {
  display: flex;
  flex-direction: column;

  padding-top: 1rem;
  align-items: center;
  align-self: center;
  justify-content: center;
}

img {
  width: 33%;
  height: 33%;
}

a {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
  align-items: inherit;
}
